main {
  padding: 50px;
}

.chart-container {
  max-width: 1000px;
  width: 100%;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  margin: 20px auto;
  background-color: lightgrey;
}
